/* style/src/state/_state.scss */
.text-alert {
    color: map-get($foundation-palette, alert);
}
.text-success {
    color: map-get($foundation-palette, success);
}
.text-warning {
    color: map-get($foundation-palette, warning);
}

*[hidden] {
    visibility: hidden;
    height: 0;
    transition: height 0.3s ease;
}